# 4 Introduction to python

In [10]:
## 4.1 Variables
x = 3
y = 5.1 + 10.4
z = "hello"
number_of_genes = 3821  # longer names
species_name = "Mycobacterium lepraemurium"
treatment1 = "no antibiotics"
treatment2 = "with antibiotics"

In [11]:
#Spaces and other non-alphanumeric characters (except underscores) are not allowed in variable names
number_of_genes = 3821
average_gene_size = 1060
genome_size = number_of_genes * average_gene_size
print(genome_size)

4050260

In [12]:
## Exercise 1
x = 3
y = x * 5
x = y
z = x * 2
print(x, y, z)

15 15 30

In [13]:
## Exercise 2
### 1
number_of_cells = 2000
cell_volume = 0.001
total_volume = number_of_cells * cell_volume
print(total_volume)

2.0

In [14]:
### 2
number of cells = 2000  # variable name with whitespace
cell_volume = 0.001
total_volume = number_of_cells * cell_volume

SyntaxError: invalid syntax (298955328.py, line 2)

In [15]:
### 3
2000 = number_of_cells  # cannot assign to literal
cell_volume = 0.001
total_volume = number_of_cells * cell_volume

SyntaxError: cannot assign to literal (2156027238.py, line 2)

In [16]:
# 4.4 Mathematical operations
x = 3
y = x + 4 # this assigns the value 3+4=7 to the variable y
z = y - 1 # this assigns the value 7-1=6 to the variable z
w = z / 4 # this assigns the value 6/4=1.5 to the variable w
q = w ** 3 # raise w to the power of 3 and assign the result to q
print(x, y, z, w, q)

3 7 6 1.5 3.375

In [17]:
# / performs true devision, // perform integer division.
A = 14 // 4 # this assigns the value 3 to A
B = 6.5 // 4 # this assigns the value 1 to B
C = 0.5 // 4 # this assigns the value 0 to C
print(A, B, C)

3 1.0 0.0

In [18]:
# % computes the remainder of integer division
r1 = 5 % 2 # this assigns the value 5 modulo 2 = 1 to the variable r1
r2 = 5 % 5 # this assigns the value 5 modulo 5 = 0 to the variable r2
print(r1, r2)

1 0

In [19]:
# add/subtract a value from an existing variable, or simply want to increase/
# decrease it by some factor
x1 = 3
x2 = 3
x3 = 3
x4 = 3
x1 += 4 # increment x by 4 and assign the result back to x1
x2 -= 2 # subtract 2 from x and assign the result back to x2
x3 *= 5 # multiply x by 5 and assign the result back to x3
x4 /= 10 # divide x by 10 and assign the result back to x4
print(x1, x2, x3, x4)

7 1 15 0.3

In [20]:
# combine several mathematical operations
x = 4 + 5 - 10
y = 10 ** 3
z = y*2 + x/3
print(x, y, z)

-1 1000 1999.6666666666667

In [21]:
z = (y*2 + x)/3
print(z)

666.3333333333334

In [22]:
# complex mathematical expressions into multiple stages using parentheses or intermediate variables
f = x**(y + 3 * z**2)
print(f)
# or as follows:
exponent = y + 3 * z**2
f = x ** exponent
print(f)

(0.4999999996194067+0.8660254040041743j)
(0.4999999996194067+0.8660254040041743j)

In [23]:
# Integers vs. decimals (Floating point)
X = 3.0
N = 3
print(X, N)

3.0 3

In [24]:
# convert float to an integer
N = int(X)
print(X)
print(N)

3.0
3

In [25]:
# Exercise 4
F = 50
C = (F - 32) * 5 / 9
print(C)

10.0

In [26]:
# Exercise 5
x = 5
y = 2.1
z = 4.6
(x + y ** (2 * z + x)) / (100 * (x + y**3)) + x * z**4

2265.1169256841754

In [27]:
# Exercise 6
year = 5
expected_adult_plants = 15 **(year-1)
print(expected_adult_plants)

50625

In [28]:

# 4.5 Functions
print("Hello world")
help(print)
y = abs(x)

# Multiple arguments must be separated by commas.
smallest_number = min(10, 5, 98)
largest_number = max(10, 5, 98)
print("The smallest number is:",smallest_number)
print("The largest number is:",largest_number)

# nest multiple functions and mathematical expressions
print(abs(55-298))

#read txt file
fin = open("documents/some_text_file.txt", "rt")
contents = fin.read()
fin.close()

# Exercise 7:
elephant_masses = [114, 91, 98, 109, 91, 104, 125, 128, 93, 106, 134, 118]
smallest_calf = min(elephant_masses)
largest_calf = max(elephant_masses)
difference = abs(largest_calf - smallest_calf)
print("the mass of the smallest calf is", smallest_calf)
print("the mass of the largest calf is", largest_calf)
print("the mass difference between the smallest and largest calf is", difference)

Hello world
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

The smallest number is: 5
The largest number is: 98
243

FileNotFoundError: [Errno 2] No such file or directory: 'documents/some_text_file.txt'

In [29]:
# 4.6 Using functions provided by modules and packages
# import module or package into python session
import math  # common mathematical functions
E = math.exp(0.5)  # To call a function from a specific module we use the module and function names, separated by a dot.
print(E)

import numpy  # more sophisticated mathematical functions
r = numpy.random.uniform(0, 100)
print(r)
# load the parts of a package that we actually need
from numpy import linalg, random
r = random.uniform(0, 100)
print(r)

# Exercise 8
N0 = 10**6
r = 0.2
N5 = N0 * math.exp(r * 5)
N20 = N0 * math.exp(r * 20)
print(N5, N20)

# Exercise 9
import math
x1 = 127.483226
y1 = 51.866239
x2 = 103.487167
y2 = 19.685403
A = ((math.cos(y2) * math.sin(abs(x1 - x2)))**2 + (math.cos(y1) * math.sin(y2) - math.sin(y1) * math.cos(y2) * math.cos(abs(x1 - x2)))**2)**0.5
B = math.sin(y1) * math.sin(y2) + math.cos(y1) * math.cos(y2) * math.cos(abs(x1 - x2))
R = 6371
D = R * math.atan2(A, B)
print(A, B, D)

1.6487212707001282
76.4073002289257
73.19021000088149
2718281.828459045 54598150.033144236
0.6801389617347752 0.7330832099634681 4765.203312811945

In [ ]:
# 4.7 Strings
# assigns a species name to a variable
full_species_name = "Escherichia coli"  # valid syntax
full_species_name = Escherichia coli  # invalid syntax

# concatenate strings using the addition symbol
genus_name = "Escherichia"
species_name = "coli"
full_species_name = genus_name + " " + species_name
print(full_species_name)

# repeats the string n times
codon = "CTA"
multiple_codons = codon * 10
print(multiple_codons)

# extracts characters from a string as a new string and prints it
genus_abbrev = genus_name[0:5]
print(genus_abbrev)

segment = genus_name[2:6]
print(segment)

first_character = genus_name[0]
print(first_character)

# prints out all but the last two characters
print(genus_name[0:-2])
# prints out the last character
print(genus_name[-1])

print(float("1.5") + float("2.0"))
print(int("1") + int("4"))

# Exercise 10
aminoacid_sequence = "ARNDARCLFPTVTSO"
print(aminoacid_sequence[3:6])  # 0 is first character, the [] 左闭右开
print(aminoacid_sequence[1:-1])
print(aminoacid_sequence[-2])

# Exercise 11
x = "10" + 5  # invalid syntax
x = 10 + 5 + "20"  # invalid
x = float(5) + "10"  # invalid
x = float("5") + 10  # valid, 15
x = "1" + "2" + 3  # invalid
x = "10" + "5"  # invalid
x = 1 + 2 + 3  # valid
"x" = "10"  # invalid
"10" + "5" = x  # invalid
x = int("4.5") + 1  # invalid
x = int("4") + 1  # valid
x = "3 + 4  # invalid

# 4.7.2 Counting substring occurrences

In [31]:
%conda install -c conda-forge r-irkernel

Collecting package metadata (current_repodata.json): ...working... failed

Note: you may need to restart the kernel to use updated packages.

CondaSSLError: Encountered an SSL error. Most likely a certificate verification issue.

Exception: HTTPSConnectionPool(host='conda.anaconda.org', port=443): Max retries exceeded with url: /conda-forge/win-64/current_repodata.json (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1131)')))